@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .page {
    @apply w-full h-full flex flex-col;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
}
