@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}

@layer components {
  .modal {
    @apply bg-black/40;
  }

  .page {
    @apply w-full h-full flex flex-col relative;
    @apply px-6 pt-8 pb-8 sm:px-10 sm:pt-14 sm:pb-20;
  }

  .page-right {
    @apply pr-4;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }

  // daisyUIのbtnのUPPERCASEを解除
  .btn {
    @apply normal-case;
  }

  input::placeholder {
    font-family: fot-tsukubrdgothic-std, sans-serif;
  }

  input::-webkit-input-placeholder {
    font-family: hiragino-kaku-gothic-pron, sans-serif;
  }
}

input[type="radio"].tobiratory-radio {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 12px; /* Set the width of your custom radio button */
  height: 12px; /* Set the height of your custom radio button */
  background: url("/admin/images/radiobox.svg") no-repeat; /* Set the path to your custom image */
  background-size: cover;
  border: none;
  cursor: pointer;
}

input[type="radio"].tobiratory-radio:checked {
  background: url("/admin/images/radiobox-checked.svg") no-repeat; /* Set the path to your custom checked image */
  background-size: cover;
}

input[type="checkbox"].tobiratory-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 12px; /* Set the width of your custom radio button */
  height: 12px; /* Set the height of your custom radio button */
  background: url("/admin/images/checkbox.svg") no-repeat; /* Set the path to your custom image */
  background-size: cover;
  border: none;
  cursor: pointer;
}

input[type="checkbox"].tobiratory-checkbox:checked {
  background: url("/admin/images/checkbox-checked.svg") no-repeat; /* Set the path to your custom checked image */
  background-size: cover;
}
