.tab.active {
  z-index: 111;
  color: var(--color-secondary);
  pointer-events: none;
}

.tabs .tab:before,
.tabs .tab:after {
  content: "";
  background-color: #828282;
  --tw-bg-opacity: 0.5;
  position: absolute;
  bottom: 0;
  height: 1rem;
  width: 1rem;
  --size: 2rem;
  transform: translateY(100%);
  opacity: 0;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.tabs .tab:before {
  -webkit-mask-image: radial-gradient(
    var(--size) var(--size) at 0 0,
    transparent 50%,
    black 50%
  );
  mask-image: radial-gradient(
    var(--size) var(--size) at 0 0,
    transparent 50%,
    black 50%
  );
  left: -1rem;
}

.tabs .tab:after {
  -webkit-mask-image: radial-gradient(
    var(--size) var(--size) at 100% 0,
    transparent 50%,
    black 50%
  );
  mask-image: radial-gradient(
    var(--size) var(--size) at 100% 0,
    transparent 50%,
    black 50%
  );
  right: -1rem;
}

.tabs .tab.active {
  z-index: 111;
  color: var(--color-secondary);
  pointer-events: none;
}

.tabs .tab.active:before,
.tabs .tab.active:after {
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  opacity: 1;
  transform: translateY(0);
}

.tab:hover {
  --tw-text-opacity: 0.5 !important;
}

::-webkit-scrollbar {
  display: none;
}
