rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  
  	function isCurrentUser(userId) {
    	return request.auth != null && request.auth.uid == userId;
    }
    match /users/{userId} {
      allow read, write: if isCurrentUser(userId);
      allow create: if
        getAfter(
          /databases/$(database)/documents/index/users/discord/$(request.resource.data.discord)
        ).data.user == userId && isCurrentUser(userId);
    	match /src/{srcId} {
    	  allow read, write: if isCurrentUser(userId);
	    }
    	match /item/{itemId} {
    	  allow read, write: if isCurrentUser(userId);
	    }
    }
    match /index/users/discord/{discord} {
      allow create: if
      getAfter(
        /databases/$(database)/documents/users/$(request.resource.data.userId)
      ).data.discord == discord && request.auth != null && request.resource.data.userId == request.auth.uid;
    }

  }
}