@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  // 大画面時のタブレットモード
  .app-tab-display {
    // @apply absolute inset-0 bg-white z-[-30];
    @apply bg-white overflow-hidden;

    // @apply font-scandia-web-400;
    // @include mq(hd) {
    //   @apply absolute w-[768px] h-[1024px];
    //   @apply rounded-[32px] overflow-hidden border-[6px] border-[#3c3c3c] box-content;
    // }
  }

  .home {
    &-section {
      &-title-container {
        @apply font-tsukua-700 text-white select-none;
        font-size: 60px;
        margin-bottom: 15px;

        & div {
          @apply flex justify-center;
        }

        &-sp {
          @apply font-tsukua-700 text-white select-none;
          font-size: 40px;
          margin-bottom: 15px;

          & div {
            @apply flex justify-center;
          }
        }
      }

      &-text-container {
        @apply text-white font-tsukub-700 select-none;
        font-size: 22px;
        padding-bottom: 24px;

        & div {
          @apply flex justify-center;
        }

        &-sp {
          @apply text-white font-bold font-tsukub-700 select-none;
          font-size: 18px;
          padding-bottom: 24px;

          & div {
            @apply flex justify-center;
          }
        }
      }
    }

    &-scrolldown {
      &-container {
        @apply absolute;
        // @apply drop-shadow-md;
        filter: drop-shadow(0 4px 6px rgb(0 0 0 / 0.6));
        // drop-shadow(0 2px 6px rgb(0 0 0 / 0.7));

        // @apply drop-shadow-md;

        @apply w-20 h-20;
        @apply right-4 bottom-2;
        @apply sm:w-28 sm:h-28;
        @apply sm:right-6 sm:bottom-2;
      }

      // &-scrolldown-icon {
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      //   line-height: 1;
      //   color: #000000;
      //   font-size: 50px;
      //   text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.6);
      //   font-weight: bold;
      // }

      &-icon {
        @apply w-full h-full opacity-80;
      }
    }

    &-phasedot {
      &-outer {
        @apply absolute top-0 right-0 flex h-full p-0 items-center;
        @apply pointer-events-none;
        filter: drop-shadow(0 2px 2px rgb(0 0 0 / 0.4));
      }

      &-inner {
        @apply flex flex-col items-center gap-3;
      }

      @apply border-white/80 rounded-full transition-all duration-[3000ms];

      &-active {
        @apply bg-white/80 w-3 h-3;
        @apply sm:w-4 sm:h-4;
      }

      &-others {
        @apply bg-transparent border-[1px] w-2 h-2 mx-2;
        @apply sm:w-3 sm:h-3 sm:mx-4;
      }
    }
  }

  .saidan {
    &-page-container {
      @apply relative overflow-y-hidden w-full h-full;
    }

    &-logout {
      &-btn {
        &-container {
          @apply absolute left-[14px] top-5 pointer-events-none sm:left-[24px] h-[48px] min-h-[48px];
        }

        & {
          @apply btn btn-square btn-lg w-[48px] min-h-[48px] h-[48px] sm:w-[58px] sm:h-[58px] btn-ghost pointer-events-auto p-2;
        }
      }

      &-confirm {
        &-container {
          &-outer {
            @apply modal z-[2] bg-black/50;
          }

          &-inner {
            @apply modal-box w-[400px] pt-6 pb-6;
            @apply mx-[16px] sm:mx-0;
          }
        }

        &-title {
          @apply font-bold text-xl flex justify-center;
        }

        &-p {
          &-container {
            @apply mt-2;
          }

          & {
            @apply flex justify-center text-xs text-black;
          }
        }

        &-btn {
          &-container {
            @apply flex justify-center gap-10;
          }

          &-cancel {
            @apply btn btn-sm btn-ghost sm:btn-md;
          }

          &-ok {
            @apply w-24 btn btn-sm btn-neutral text-white sm:btn-md;
          }
        }
      }
    }

    &-bag {
      &-container {
        &-outer {
          @apply absolute inset-0 bg-black/50 flex justify-center w-full h-full;
        }

        &-inner {
          @apply h-full;
          @apply relative bg-[#414142];
          @apply w-full rounded-t-[30px];
          @apply sm:max-w-[1000px] sm:rounded-t-[20px];
        }
      }

      &-close-btn {
        @apply flex justify-end pt-2 sm:pt-6 pl-10 pr-4 gap-5;
      }

      &-grid-container {
        @apply absolute overflow-y-scroll inset-0;
        @apply grid content-start;
        @apply top-[55px] grid-cols-3 gap-[12px] py-[8px] px-[12px];
        @apply sm:top-[100px] sm:grid-cols-4 sm:gap-[16px] sm:px-[32px] sm:py-[32px];
      }
    }

    &-add-btn {
      &-container {
        &-outer {
          @apply w-full aspect-square p-[12px];
          @apply sm:p-0;
        }

        &-spotted {
          @apply z-10 pointer-events-none;
        }

        &-inner {
          @apply m-0;
          @apply sm:m-[8px];
        }
      }

      & {
        @apply btn btn-square;
        @apply bg-white/100 hover:bg-[#949494];
        @apply block w-full h-full aspect-square p-0;
        @apply content-center;
        @apply sm:p-[8px];
      }
    }

    &-crop {
      &-container {
        @apply absolute inset-0 w-full h-full z-[4];
      }

      &-work {
        &-container {
          &-outer {
            @apply relative w-full h-full rounded-t-[10px] bg-offwhite p-8;
          }

          &-inner {
            @apply relative w-full h-full;
          }
        }

        &-btn {
          @apply btn btn-square;
          @apply bg-[#1879DE] hover:bg-[#146ac4] border-none text-white;
          @apply mt-4 rounded-[30px];
          @apply w-[140px] h-[20px];
          @apply sm:w-[400px] sm:h-[60px];
        }
      }

      &-close {
        &-container {
          @apply absolute top-6 right-4;
        }

        &-btn {
          @apply btn btn-circle;
          @apply border-none min-w-[10px] min-h-[10px] w-[34px] h-[34px] p-1;
          @apply sm:w-[48px] sm:h-[48px] sm:p-2;
        }
      }
    }

    &-acst-msg {
      &-container {
        &-outer {
          @apply flex justify-center absolute p-5 w-full z-10 pointer-events-none;
        }

        &-inner {
          @apply alert bg-base-100/80 backdrop-blur-sm shadow-lg pointer-events-auto sm:w-[400px];
        }
      }

      &-content-container {
        @apply flex items-center justify-between w-full;
      }

      &-br {
        @apply hidden sm:block;
      }

      &-close {
        @apply btn btn-ghost btn-circle;
      }
    }

    &-screenshot {
      &-container {
        &-outer {
          @apply bg-black/20;
        }

        &-inner {
          @apply rounded-[25px] overflow-hidden bg-[#f2f2f2] border-[6px] border-[#424242];
        }
      }
    }

    &-tutorial {
      &-title {
        &-container {
          &-outer {
            @apply absolute w-full h-full top-0 bg-black/90;
          }

          &-inner {
            @apply h-full w-full grid gap-6 content-center text-white select-none;
          }
        }

        &-subtitle {
          @apply flex justify-center text-[30px]  font-tsukub-400;
          @apply text-[20px] mt-[40px] sm:text-[25px] sm:mt-[0px];
        }

        &-title {
          @apply flex justify-center text-[30px] font-bold mb-10 font-tsukua-700;
          @apply text-[25px] sm:text-[30px];
        }

        &-text {
          @apply text-center font-tsukub-400;
        }

        &-br {
          @apply block sm:hidden;
        }
      }

      &-terms {
        &-title {
          @apply saidan-tutorial-title-title;
          @apply mb-2 sm:mb-4 text-xl sm:text-[30px] tracking-widest sm:tracking-[1.0rem];
        }

        &-text-container {
          @apply grid gap-6 sm:gap-8;
        }

        &-text {
          @apply text-center font-tsukub-400 text-sm sm:text-lg;
        }
      }

      &-zoomup {
        @apply absolute w-full h-full top-0;
      }

      &-openbag {
        @apply absolute w-full h-full top-0;
      }

      &-bag-container {
        @apply absolute w-full h-full top-0 bg-black/80;
      }

      &-selectitem {
        &-container {
          &-outer {
            @apply h-full;
          }

          &-inner {
            @apply mt-12 grid gap-4 text-white font-bold font-tsukua-700;
          }
        }

        &-text {
          @apply mt-14 text-center text-[20px] select-none sm:mt-32 sm:text-[30px];
        }

        &-br {
          @apply block sm:hidden;
        }
      }

      &-additem {
        &-container {
          &-outer {
            @apply h-full;
          }

          &-inner {
            @apply mt-12 grid gap-4 text-white font-bold font-tsukua-700;
          }
        }

        &-text {
          @apply mt-60 text-center text-[20px] font-bold sm:mt-32 sm:text-[30px];
        }

        &-br {
          @apply block sm:hidden;
        }

        &-span {
          @apply hidden sm:inline;
        }
      }

      &-ready {
        &-container {
          &-outer {
            @apply h-full;
          }

          &-inner {
            @apply h-full grid content-center gap-4 text-white font-bold;
          }
        }

        &-text {
          @apply flex justify-center text-[24px] font-tsukua-700 sm:text-[40px] text-center;
        }

        &-br {
          @apply block sm:hidden;
        }
      }
    }
  }

  // contact
  .contact {
    &-container {
      &-outer {
        @apply relative bg-center w-full h-full;
      }

      &-inner {
        @apply absolute inset-0 overflow-auto;
      }
    }

    &-header {
      &-container-inner {
        @apply h-[8%] grid content-center pt-12;
      }

      &-arrow-container {
        @apply text-white grid content-center pl-6;
      }

      &-text {
        @apply font-tachyon-300 text-white tracking-widest text-[14px] pl-4 sm:text-[20px] sm:pl-6;
      }
    }

    &-form-container {
      &-outer {
        @apply relative flex justify-center;
      }

      &-inner {
        @apply p-10 pt-16 flex flex-col gap-4 w-full max-w-[800px] sm:gap-7;
      }
    }

    // テキスト(input)
    &-input {
      &-container {
        @apply h-10 border-2 px-4 rounded-[40px];
        @apply sm:h-20 sm:border-4 sm:py-4 sm:px-6;
      }

      & {
        @apply w-full h-full bg-transparent text-base text-white outline-none sm:text-2xl;
      }
    }

    // テキスト(textarea)
    &-area {
      &-container {
        @apply h-auto border-2 px-4 py-2 rounded-[24px] overflow-hidden;
        @apply sm:border-4 sm:px-6 sm:py-4 sm:rounded-[40px];
      }

      & {
        @apply w-full h-24 bg-transparent text-base text-white outline-none;
        @apply sm:h-[240px] sm:text-2xl;
      }
    }

    // エラーメッセージ
    &-errors-text {
      margin-top: 8px;
      margin-left: 26px;
      color: #ffffff;
      font-size: 14px;
    }

    &-submit {
      @apply btn btn-block w-full bg-white hover:bg-[#ccc] text-[#000913] font-tachyon-300 tracking-widest;
      @apply h-10 min-h-[10px] rounded-[14px] text-[12px];
      @apply sm:h-20 sm:rounded-[30px] sm:text-[20px];
    }
  }

  // about
  .about {
    &-container {
      &-outer {
        @apply font-ryumin-300 select-none;
      }

      &-inner {
        @apply select-text;
      }
    }

    &-text-container {
      &-outer {
        @apply flex justify-center;
      }

      &-inner {
        @apply p-10 flex flex-col w-full max-w-[1000px] gap-[64px] sm:gap-[128px];
      }
    }

    &-title {
      &-container {
        @apply text-white text-[40px] grid gap-[-20px] sm:text-[70px] md:text-[100px];
      }

      & {
        letter-spacing: 0px;
      }
    }

    &-subtitle-container {
      @apply text-white mt-4 text-[18px] sm:text-[26px];
    }

    &-section-container {
      @apply grid gap-[50px];
    }

    &-team {
      &-container {
        @apply w-full;
      }

      &-title {
        @apply w-[80%] text-white font-bold text-[40px] sm:text-[60px];
      }
    }

    &-member {
      &-container {
        @apply w-full grid grid-cols-2 pt-[32px] gap-x-12 gap-y-[40px] sm:grid-cols-4 sm:pt-[40px];
      }

      &-image-container {
        @apply relative w-full aspect-square rounded-full;
      }

      &-name {
        @apply w-full flex justify-center font-bold text-white text-[24px] mt-[12px] sm:mt-[32px];
      }

      &-roll {
        &-container {
          @apply w-full text-white mt-2;
          @apply mt-[2px] sm:mt-[8px];
        }

        & {
          @apply text-center text-[12px] sm:text-[19px];
        }
      }

      &-tw-container {
        @apply flex justify-center mt-[8px] sm:mt-[16px];
      }
    }

    &-end-text {
      @apply w-full pb-80 h-[200px] font-bold text-[#2b394d] text-[32px];
      @apply w-full flex justify-center sm:text-[60px] sm:justify-start;
    }
  }

  // メニュー
  .menu {
    &-burger-btn {
      @apply absolute top-4 right-4;
      @apply btn btn-circle btn-ghost bg-black;
      @apply min-h-[48px] w-[48px] h-[48px];
      @apply text-[26px] text-white;
      @apply sm:w-[62px] sm:h-[62px];
      @apply sm:text-[32px];
    }

    &-close-btn {
      @apply absolute top-3 right-2 z-50;
      @apply btn btn-ghost hover:bg-black/20;
      @apply text-[20px] font-['tachyon'] font-normal text-white sm:text-2xl;

      &-closing {
        @apply absolute top-0 right-0 z-50 text-[20px] p-5 font-['tachyon'] cursor-pointer transition text-white;
        @apply opacity-0 pointer-events-none sm:text-2xl;
      }
    }

    &-container {
      @apply absolute left-0 right-0 bg-slate-800 overflow-y-auto overflow-x-hidden top-0 bottom-0 scrollbar-thin scrollbar-thumb-blue-700 scrollbar-track-blue-300;
    }

    &-canvas-container {
      @apply h-full w-full;
    }

    &-key-text {
      @apply text-white text-[20px] font-['tachyon'] w-56 text-center select-none sm:text-2xl;
    }

    &-bottom {
      &-container {
        @apply top-0 h-0 w-full relative flex px-4 pb-3 flex-col justify-end text-white text-[20px] sm:text-3xl sm:gap-1;
      }

      &-link {
        @apply btn btn-ghost hover:bg-black/20 justify-start px-4;
        @apply font-['tachyon'] text-[16px] sm:text-2xl font-normal;
        @apply min-h-[2px] h-[30px] sm:h-[36px];

        &-disabled {
          @apply btn btn-ghost btn-disabled bg-transparent justify-start px-4;
          @apply font-['tachyon'] text-[16px] sm:text-2xl font-normal text-slate-500;
          @apply min-h-[2px] h-[36px];
        }
      }
    }

    &-footer {
      &-container {
        @apply flex flex-col gap-2 bottom-0 right-0 pl-4 mt-2;
        @apply sm:items-end sm:absolute sm:p-5 sm:gap-3;
      }

      &-icon {
        &-container {
          @apply btn btn-circle btn-md p-0 w-8 h-8 min-h-[30px];
          @apply bg-white hover:bg-white/70 rounded-full text-slate-800 text-xl;
          @apply sm:w-12 sm:h-12 sm:text-3xl;
        }
      }

      &-copyright {
        @apply text-sm;
      }
    }
  }

  // モーダル（通知用）の表示設定
  .modal {
    &-outer {
      @apply absolute inset-0 flex justify-center grid content-center bg-black/50;
    }

    &-inner {
      @apply rounded-[20px] py-6 px-8 bg-offwhite;
    }
  }

  // アクスタ生成中の旨を通知するモーダル
  .acst-modal {
    &-title {
      @apply text-center font-bold text-xl text-black;
    }

    &-text {
      @apply mt-2 text-center text-xs text-black;
    }

    &-btn-container {
      @apply mt-6 flex justify-center;
    }

    &-ok {
      @apply btn bg-[#414142] hover:bg-[#343434] text-white;
      @apply btn-sm w-[60px] h-[40px];
    }

    &-close {
      @apply btn bg-[#414142] hover:bg-[#343434] text-white;
      @apply btn-sm w-[80px] h-[40px];
    }
  }

  .ui {
    &-btn {
      &-bottom {
        @apply absolute bottom-[32px] sm:bottom-[40px];
      }

      // バッグボタン
      &-bag {
        &-container {
          @apply w-full flex justify-center;
          @apply pointer-events-none;
        }

        & {
          @apply btn btn-circle border-none rounded-full  pointer-events-auto;
          @apply select-none bg-white;
          @apply w-[70px] h-[70px] sm:w-[112px] sm:h-[112px];
        }
      }

      // カメラモードボタン
      &-cameramode {
        &-container {
          @apply absolute right-6;
        }

        @apply border-none rounded-full select-none;
        @apply w-[45px] aspect-square sm:w-[90px];
      }

      &-other-container {
        @apply absolute left-6 pointer-events-none;
      }

      &-func {
        @apply btn btn-circle btn-lg;
        @apply border-none bg-[#414142] hover:bg-[#353535];
        @apply pointer-events-auto select-none;
        @apply w-[45px] h-[45px] min-h-[45px] p-0 sm:w-[90px] sm:h-[90px] sm:min-h-[90px];
      }

      &-skip-tutorial {
        &-container {
          @apply absolute top-10 right-6 sm:right-10;
        }

        @apply btn btn-circle btn-ghost hover:bg-black/30 text-white;
        @apply w-[80px] h-[80px] p-[14px];
        @apply sm:w-[100px] sm:h-[100px] sm:p-[16px];
      }
    }
  }

  // 生成グッズ選択
  .item-type-button {
    @apply btn bg-white text-neutral hover:text-white px-1;
  }

  .type-select {
    &-container {
      @apply flex items-center gap-1 sm:gap-3 px-0 text-[12px] sm:text-[15px];
    }

    &-icon {
      @apply w-7;
    }

    &-text {
      @apply w-full;
    }
  }

  // スクショ画面
  .screenshot {
    &-close {
      &-container {
        @apply absolute z-10 right-2 top-2 sm:right-4 sm:top-4;
      }

      &-btn {
        @apply btn btn-circle btn-ghost min-h-[10px] w-10 h-10 p-2 sm:w-12 sm:h-12;
      }
    }

    &-share {
      &-btn {
        @apply btn btn-circle btn-lg;
        @apply w-12 h-12 min-h-[10px] p-1;
        @apply bg-[#1da1f2] hover:bg-[#1374b0] border-none sm:w-16 sm:h-16;
      }

      &-icon {
        @apply w-32 h-32  text-[40px];
      }
    }
  }

  // 利用規約画面
  .policy {
    &-outer-container {
      @apply absolute inset-0 bg-black/50 flex justify-center;
      @apply pt-[8px] sm:pt-[40px];
    }

    &-inner-container {
      @apply relative bg-base-100 h-full;
      @apply flex flex-col;
      @apply w-full rounded-t-[10px] pb-[12px] px-[8px];
      @apply sm:w-[800px] sm:rounded-t-[20px] sm:pb-[40px] sm:px-[24px];
    }

    &-close-btn {
      @apply relative;
      @apply mt-[4px] mb-0 sm:mt-[16px] sm:mb-[4px];
    }

    &-document-container {
      @apply h-[80%] flex flex-col mt-2;
    }

    &-message {
      @apply font-bold h-[7%] pt-[8px];
      @apply pb-[4px]  text-[14px] sm:pb-0 sm:text-[18px];
    }

    &-document {
      @apply w-full border-2 h-[93%] bg-offwhite;
    }

    &-accept {
      &-container {
        @apply flex justify-center;
        @apply mt-0 mb-[4px] sm:mt-[10px] sm:mb-0;
      }

      &-inner-container {
        @apply w-[60%] sm:w-[40%];
      }

      &-check-container {
        @apply flex w-full mt-4;
      }

      &-check-text {
        @apply ml-2;
      }

      &-btn {
        @apply w-full flex justify-center btn btn-primary;
        // @apply bg-[#1879DE] hover:bg-[#146ac4] disabled:text-white border-none text-white;
        @apply mt-[12px] h-[10px] sm:mt-[18px] sm:h-[20px];
      }
    }
  }
}

// フォント設定
.font {
  &-tsukua {
    &-400 {
      font-family: "fot-tsukuardgothic-std", sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    &-700 {
      font-family: "fot-tsukuardgothic-std", sans-serif;
      font-weight: 700;
      font-style: normal;
    }
  }

  &-tsukub {
    &-400 {
      font-family: "fot-tsukubrdgothic-std", sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    &-700 {
      font-family: "fot-tsukubrdgothic-std", sans-serif;
      font-weight: 700;
      font-style: normal;
    }
  }

  &-tachyon {
    &-200 {
      font-family: "tachyon", sans-serif;
      font-weight: 200;
      font-style: normal;
    }

    &-300 {
      font-family: "tachyon", sans-serif;
      font-weight: 300;
      font-style: normal;
    }

    &-400 {
      font-family: "tachyon", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
  }

  &-ryumin {
    &-300 {
      font-family: "a-otf-ryumin-pr6n", serif;
      font-weight: 300;
      font-style: normal;
    }
  }
}

.freedom-text {
  filter: drop-shadow(0 -4px 6px rgb(0 0 0 / 0.3))
    drop-shadow(0 4px 6px rgb(0 0 0 / 0.7));
}

.original-text-shadow {
  display: block;
  color: #ffffff;
  font-size: 50px;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 1), 0px 0px 40px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.original-card {
  backdrop-filter: blur(10px) saturate(200%);
  -webkit-backdrop-filter: blur(17px) saturate(200%);
  background-color: rgba(17, 25, 40, 0.5);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 20px 40px;
}

.original-card-sp {
  backdrop-filter: blur(10px) saturate(200%);
  -webkit-backdrop-filter: blur(17px) saturate(200%);
  background-color: rgba(17, 25, 40, 0.5);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 20px 24px;
  padding-top: 13px;
  padding-bottom: 0px;
}

#policy-iframe.body {
  font-size: 10px;
}

#policy-modal-iframe.body {
  font-size: 10px;
}

.grecaptcha-badge {
  visibility: hidden;
}
